# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.deb
build/
immich-cli_*/

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb
assets/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
immich-cli

# debug information files
*.dwo

# clangd lsp files
compile_commands.json
.cache
# pixi environments
.pixi/*
!.pixi/config.toml
